@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 

/* universal selector */
* {
    
    font-family: 'Poppins', sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210812/pngtree-business-technology-modern-abstract-art-white-dots-perspective-background-image_760034.jpg') ;
    color: rgb(20, 159, 206);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
body::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5 for 50% darkness) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Place it below the content */
  }
  
body {
    margin: 30px;
    padding: 30px;
}
/* element selector */
h1 {
    font-size: x-large;
    text-decoration: underline;
}
p {
    font-size: large;
}
/* .profile {
    border-radius: 50%;
} */
.btn {
    display: block;
    text-decoration: none;
    padding: 30px;
    /* border-radius: 50%; */
    background: rgb(51, 157, 195);
    margin: 16px;
    box-shadow: 5px 10px #104ed5;
    cursor: pointer;
    color: black;
}
.btn:hover{
    background: #0e0ec3;
    transition: 0.5s;
    color: blanchedalmond;
}
.social-icons {
    margin-top: 30px;
    margin-bottom: 30px;
}
.social-icon {
    margin: 20px;
    cursor: pointer;
}
.footer {
    text-align: center;
    
    padding: 10px;
}

/* Animation */
